body {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica Neue, Helvetica, Arial, sans-serif;
  background-color:#fff;

  font-weight: normal;
  color: #404040;
}

html, body, .footerPushDown {
  height: 100%;
}

p {
  line-height: 1.7em;
  margin-bottom: 1em;
}

.band.full {
  position: relative;
}

.band.full.first {
  height: 550px;
}

.band.full.second {
  /*height: 480px;*/
  background-position-y: 55%;
  overflow: hidden;
  border-bottom: 1px solid #f8f8f8;
}

.band.full.third {
  height: 520px;
}
.quote-1{
  height: 25px;
  margin-top: 11px;
  margin-right: 5px;
}
.quote-2{
  height: 25px;
  margin-top: 11px;
  margin-left: 5px;
}
.bandContent, .standardPadding .articleBandContent {
  /*margin: 0 auto;*/
  /*max-width: 1140px;*/
}

.middle-content {
background-image: url('https://storage.googleapis.com/caura-west/static/middle_picture.jpg');
  background-repeat: repeat-x;
}

/*.vCenter {
  position: relative;
  min-height: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
 justify-content: center;
  padding-top: 10%
}*/
  .vCenter {
    position: relative;
    height: auto;
    min-height: 0;
    display: block;
    /*padding: 100px 0px;*/
    padding-top: 190px;
    padding-bottom: 25px;
    align-items: center;
    display: flex;
    justify-content: center;
  }
.rightText .vCenter {
  align-items: flex-end;
}

.band .imageOne {
  background-image: url('https://storage.googleapis.com/caura-west/static/Button.png');
  background-repeat: no-repeat;
  position: absolute;
  left: 0px;
  bottom: -120px;
  width: 630px;
  height: auto;

  z-index: 5;
}

.band .imageTwo {
  position: absolute;
  bottom: 8%;
  right: 0px;
  width: auto;
  height: 56%;
  margin-right: 168px;
}

.band .imageThree {
  position: absolute;
  bottom: -1%;
  right: 0px;
  height: 67%;
  width: auto;
}
.chat-button {
  width: 270px;
  height: 68px;
  margin-top: 1em;
  background-image: url(https://storage.googleapis.com/caura-west/static/Button.png);
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 35px;
  background-color: #fff;
  border: none;
  cursor: pointer;
}
#rStudioHeader {
  background-image: url('https://storage.googleapis.com/caura-west/static/header.jpg');
  background-repeat: repeat-x;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: auto;
  z-index: 100;
  padding: 0 5%;

  color: #fff;
}

#rStudioHeader.shrunk, #rStudioHeader.alwaysShrunk {
  color: inherit;
  height: 69px;
  padding-top: 5px;
  background-color: rgba(255, 255, 255, .98);
  height:
  -webkit-box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.1);
}

#rStudioHeader .innards {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  -webkit-transition-property: padding;
  -moz-transition-property: padding;
  -o-transition-property: padding;
  transition-property: padding;

  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

#rStudioHeader.shrunk .innards, #rStudioHeader.alwaysShrunk .innards {
  padding: 9px 0;
}

#rStudioHeader .productName {
  font-family: "Courier New", Courier, monospace;
  font-weight: normal;
  font-size: 40px;
  color: inherit;

  white-space: nowrap;

  -webkit-transition-property: font-size;
  -moz-transition-property: font-size;
  -o-transition-property: font-size;
  transition-property: font-size;

  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
}

#rStudioHeader .productName:hover {
  text-decoration: none;
}

#rStudioHeader.shrunk .productName, #rStudioHeader.alwaysShrunk .productName {
  display: inline-block;
  font-size: 20px;
}

#rStudioHeader .rStudio {
  margin-top: 5px;
  font-size: 13px;
  line-height: 25px;
  font-weight: 200;
  color: #4d4d4d;
}

#rStudioHeader .rStudio .logo {
  display: inline-block;
  /*width: 70px;
  height: 25px;*/
  width: 145px;
  height: 90px;
  background-image:url('https://storage.googleapis.com/caura-west/static/logo.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
  vertical-align: middle;
  margin: -22px;
}

#rStudioHeader.shrunk .rStudio, #rStudioHeader.alwaysShrunk .rStudio {
  display: inline-block;
  margin-left: 3px;
}

#rStudioHeader .rStudio a {
  text-decoration: none;
  color: inherit;
}

#rStudioHeader #menu {
  text-align: right;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  white-space: nowrap;
}

#rStudioHeader #menu #menuToggler {
  display: none;
}

#rStudioHeader #menu #menuItems {
  display: block;
}

#rStudioHeader #menu .menuItem {
  display: inline-block;
  padding: 0px 15px;

  opacity: .8;
  cursor: pointer;

  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;

  -webkit-transition-duration: .5s;
  -moz-transition-duration: .5s;
  -o-transition-duration: .5s;
  transition-duration: .5s;

  color: inherit;
}

#rStudioHeader #menu .menuItem:hover {
  opacity: 1;
  text-decoration: none;
}

#rStudioHeader #menu .menuItem.gitHub {
  width: 20px;
  height: 20px;
  padding: 0px;
  margin: 0px 0px 0px 10px;

  background-image: url(../images/gitHubLogo.svg);
  background-repeat: no-repeat;
  background-size: 20px auto;
  background-position: center center;

  vertical-align: bottom;
}

#rStudioHeader #menu .menuItem.gitHubText {
  display: none;
}


#homeContent, #pageContent {
  position: relative;
  z-index: 1;
  min-height: 100%;
  margin-bottom: -91px;  /* height of footer */
}

#homeContent:after, #pageContent:after {
  content: "";
  height: 91px; /* height of footer */
  display: block;
}

.standardPadding {
  padding: 80px 5%;
}

#pageContent .pageTitle {
  font-size: 40px;
  font-weight: 300;
}

#pageContent .pageIntro {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 30px;
}

#pageContent .columns {
  display: flex;
  justify-content: space-between;

  display: -ms-flexbox;
  -ms-flex-pack: justify;
}

#pageContent .columns .column2 {
  max-width: 46%;
}

#pageContent .linkSection {
  line-height: 20px;
  margin-bottom: 20px;
}

#pageContent .linkSection .linkSectionTitle {
  font-size: 1.4em;
  margin-bottom: 12px;
}

#pageContent .links a {
  display: block;
  line-height: 24px;
  max-width: 500px;
  padding: 0 0 0 16px;
  background-repeat: no-repeat;
  background-position: left 8px;
  background-size: 8px 8px;
  background-image: url(../images/link-icon.png);
}

#pageContent .linkSection .articleBlurb {
  padding-left: 16px;
  line-height: 20px;
  margin-bottom: 10px;
  display: none;
}

.gallerySection, .formatSection {
  margin-bottom: 2em;
}

.gallerySection .gallerySectionTitle, .formatSection .formatSectionTitle {
  font-size: 25px;
  font-weight: 300;
}

.formatSection .formatSectionTitle {
  margin-bottom: 10px;
}

.gallerySection .galleryIntro {
  margin-bottom: 10px;
}

.gallerySection .galleryItems {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.gallerySection .galleryItems .galleryItem {
  width: 24%;

  border: 1px solid #f0f0f0;
  margin-bottom: 20px;
}

.gallerySection .galleryItems .galleryItem:hover {

}

.gallerySection .galleryItems .galleryItem .galleryItemLabel {
  display: block;
  cursor: pointer;
  border-top: 1px solid #f0f0f0;
  padding: 10px 10px 5px 10px;
}

.chat{
  position: ab
}
.orange-text{
  color: #a35a20;
  font-weight: bold;
}
.standard-text{
  color: #e6e6e6;
}
.blurb-chat{
  display: inline-block;
  text-align: left;
  max-width: 557px;
  line-height: 40px;
  min-height: 160px;
  font-size: 13px;
  margin-left: 46%;
  z-index: 100;
  margin-bottom: 1%;
  /*text-align: center;*/
}
.gallerySection .galleryItems .galleryItem .galleryItemImage {
  width: 100%;
  height: auto;
}

.gallerySection .galleryItems .galleryItem .galleryItemDescription {
  font-size: 12px;
  padding: 0px 10px 10px 10px;
}

.formatSection a.doc, .formatSection a.pres, .formatSection a.more {
  display: inline-block;
  margin: 0 15px 15px 0;

  color: #fff;
  font-size: 24px;
  line-height: 28px;
  text-align: center;

  display: inline-flex;
  flex-direction: column;
  justify-content: center;

  vertical-align: top;

  background-color: #f0f0f0;
}

.formatTable {
  display: table;
  width: 100%;
}

.formatTable .formatTableRow {
  display: table-row;
  text-decoration: none;
}

.formatTable .formatTableRow:hover {
  background-color: #f8f8f8;
}

.formatTable .formatName {
  display: table-cell;
  padding: 5px;
  width: 200px;
}

.formatTable .formatDescription {
  display: table-cell;
  line-height: 15px;
  padding-bottom: 5px;
}

.formatTable a.formatTableRow .formatDescription {
  color: #404040;
}


#homeContent .tagline {
  padding-top: 100px;
  font-size: 32px;
  margin-bottom: 16px;
}

#homeContent a {
  text-decoration: none;
  color: #2780e3;
}

#homeContent .blue a {
  color: #fcbf49;
  font-weight: normal;
}

#homeContent a:hover {
  text-decoration: underline;
}

#homeContent .band {
  padding: 0 5%;
}

#homeContent .band.gray1 {
  background-color: #f8f8f8;
}

#homeContent .band.blue {
  background-color: #fff;
  color: #000;
  font-family: 'Raleway', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#homeContent .band.orange {
  background-color: #e6553a;
  color: #fff;
}

#homeContent .band.leftText {
  text-align: left;
}

#homeContent .band.rightText {
  text-align: right;
}

#homeContent .band .blurb {
  display: inline-block;
  /*text-align: left;*/
  max-width: 557px;
  line-height: 40px;
  min-height: 160px;
  font-size: 25px;
  text-align: center;
}

#homeContent .band .actions {
  margin-top: 20px;
}

#homeContent .band .actions div {
  display: inline-block;
}

#homeContent .bigButton {
  padding: 20px 40px;
  font-size: 20px;
  border: none;

  border-radius: 5px;

  margin: 5px;
}

#homeContent .bigButton.gallery {
  color: #fff;
  background-color: #8cb06c;
}

#homeContent .bigButton.getStarted {
  color: #fff;
  background-color: #75aadb;
}

#rStudioFooter {
  position: relative;
  z-index: 2;

  box-sizing: border-box;
  height: 91px;
}

#rStudioFooter.band {

  /*background-color: #75aadb;*/
  padding: 30px 5%;

  color: #fff;

  font-weight: 300;
  font-size: 12px;

  line-height: 25px;
}

#rStudioFooter .bandContent {
  color: #fff;

  display: flex;
  justify-content: space-between;
  align-items: center;

  line-height: 20px;
}

#rStudioFooter .bandContent #copyright {
  flex-shrink: 5;
}

#rStudioFooter .bandContent #logos {
  flex-shrink: 1;
}

#rStudioFooter .bandContent .footerLogo {
  display: inline-block;
  height: 25px;
  width: 25px;

  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;

  margin: 0 8px;
}

#rStudioFooter .bandContent #logos .footerLogo:last-child {
  margin-right: 0px;
}

.screenshot {
  border: 1px solid #ccc;
}

.notebook-screenshot {
  border: 1px solid #ccc;
  margin-bottom: 8px;
}

/* Don't show link underlines in tables (too busy) */
table.table td a:only-child:link,
table.table td a:only-child:visited {
  text-decoration: none;
}
table.table td a:only-child:hover,
table.table td a:only-child:active {
  text-decoration: underline;
}

/* Use the background color from the R logo for the floating toc nav */
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
  background-color: rgb(97,151,213);
}

/* offset scroll position for anchor links  */

.section h1 {
  padding-top: 58px;
  margin-top: -58px;
}

.section h2 {
  padding-top: 58px;
  margin-top: -58px;
}
.section h3 {
  padding-top: 58px;
  margin-top: -58px;
}
.section h4 {
  padding-top: 58px;
  margin-top: -58px;
}
.section h5 {
  padding-top: 58px;
  margin-top: -58px;
}
.section h6 {
  padding-top: 58px;
  margin-top: -58px;
}

.lessonPage {
  display: flex;
  display: -ms-flexbox;
}

.lessonPage .lessonsNav {
  margin-top: 23px;
  min-width: 290px;
  line-height: 40px;
  padding-right: 30px;
}

.lessonPage .lessonsNav a {
  display: block;
  padding: 0 10px;
}

.lessonPage .lessonsNav a:hover {
  text-decoration: none;
  background-color: #f8f8f8;
}

.lessonPage .lessonsNav a.current {
  background-color: #75aadb;
  color: #fff;
}

.lessonPage .lessonContent #show-answer h2 {
  display: inline-block;
  margin-top: 10px;
  padding: 7px 20px;
  background-color: #75aadb;
  color: #fff;

  border-radius: 5px;
  cursor: pointer;
}

.lessonPage .lessonContent #show-answer.showing {
  display: none;
}

.lessonPage .lessonContent #model-answer {
  display: none;
}

.lessonPage .lessonContent #model-answer.showing {
  display: block;
}

.lessonPage .lessonContent #continue-to-next-lesson h2 {
  margin-top: 10px;
  font-size: 20px;
}

.lessonPage .continue-link {
  font-size: 24px;
}

.end-text {
  display: flex;
  justify-content: center;
  font-weight: bolder;
  margin-top: 2em;
  font-size: 20px;
}

/* adjustments for smaller screens */

@media screen and (max-width: 1000em){
  .blurb-chat{
    margin-left: 97%;
  }

@media screen and (max-width: 360em){
  .blurb-chat{
    margin-left: 93%;
  }

@media screen and (max-width: 240em){
  .blurb-chat{
    margin-left: 86%;
  }
}
@media screen and (max-width: 2976px){
  .blurb-chat{
    margin-left: 77%;
  }
}
@media screen and (max-width: 1984px){
  .blurb-chat{
    margin-left: 62%;
  }
}
@media screen and (max-width: 1600px){
  .blurb-chat{
    margin-left: 50%;
  }
}
@media screen and (max-width: 1143px){
  .blurb-chat{
    margin-left: 30%;
  }
}
@media screen and (max-width: 1200px){

  .band .imageOne {
    width: 490px;
    bottom: -50px;
    left: -25px;
  }
  .vCenter {
    position: relative;
    height: auto;
    min-height: 0;
    display: block;
    /*padding: 100px 0px;*/
    padding-top: 190px;
    padding-bottom: 25px;
    align-items: center;
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 1023px){

  #rStudioHeader .productName {
    font-size: 30px;
  }

  #rStudioHeader .innards {
    align-items: flex-start;
  }

  #rStudioHeader #menu #menuToggler {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url(../images/menuToggler.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
  }

  #rStudioHeader #menu #menuItems {
    display: none;
  }

  #rStudioHeader #menu #menuItems.showMenu {
    display: block;
  }

  #rStudioHeader #menu .menuItem {
    display: block;
    line-height: 30px;
    text-align: left;
  }

  #rStudioHeader #menu .menuItem.gitHub {
    display: none;
  }

  #rStudioHeader #menu .menuItem.gitHubText {
    display: block;
  }

  #homeContent {
    overflow-x: hidden;
  }

  .band.full.first, .band.full.second, .band.full.third {
      height: auto;
  }

/*  .vCenter {
    padding-top: 105px;
  }*/

  .quote-1{
    margin-top: 5px;
    margin-right: -12px;
  }
  .quote-2{
    margin-top: 5px;
    margin-left: -12px;
  }
  .third .vCenter {
    padding-top: 10px;
  }

  #homeContent .band.rightText, #homeContent .band.leftText {
    text-align: center;
  }

  #homeContent .band .blurb {
    text-align: center;
  }
  .end-text{
    font-size: 14px;
  }
  .blurb-chat{
    /*position: absolute;*/
    margin: 0 auto;
    /*margin-top: 50px;*/
    font-size: 30px;
    text-align: center;
  }
  .band .imageOne {
    position: relative;
    max-width: 120%;
    bottom: auto;
    left: auto;
    top: -50px;
  }

  .band .imageTwo {
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    /*margin-top: -214px;*/
    margin-top: -475px;
  }

  .band .imageThree {
    display: none;
    /*position: relative;
    top: 0;
    right: 0;
    width: 100%;
    margin-bottom: 100px;*/
  }

  #pageContent .pageTitle {
    font-size: 30px;
  }
  #pageContent .pageIntro {
    font-size: 18px;
  }

  .gallerySection .galleryItems .galleryItem {
    width: 49%;
  }

  .gallerySection .gallerySectionTitle {
    font-size: 24px;
  }

  #pageContent .columns {
    display: block;
  }

  #pageContent .columns .column2 {
    max-width: none;
  }

  .lessonPage .lessonsNav {
    min-width: 200px;
  }
}

@media screen and (max-width: 768px){
  .lessonPage {
    display: block;
  }

  .lessonPage .lessonsNav {
    display: none;
  }

}

@media screen and (max-width: 500px){
  .gallerySection .galleryItems .galleryItem {
    width: 100%;
  }
  .formatTable .formatName {
    width: 150px;
  }
  .middle-content {
  background-image: url('#');
  background-repeat: no-repeat;
  }
  .imageTwo{
    height: 383px;
    width: 900px;
  }
  .blurb-chat{
    font-size: 18px;
    margin-bottom: 105px;
  }
  .vCenter{
    padding-top: 52px;
  }
  .end-text{
    display: none;
  }
  .quote-1{
    height: 12px;
    /*margin-top: -26px;
    margin-left: -14px;*/
    margin-top: 19px;
    margin-left: -8px;
  }
  .quote-2{
    height: 12px;
    /*margin-top: -26px;
    margin-left: -14px;*/
    margin-top: 19px;
    margin-right: -8px;
  }
  #homeContent .band.blue{
    margin-top: 100px;
  }
}

@media screen and (max-width: 376px){

    #rStudioHeader .productName {
      font-size: 26px;
    }

    #rStudioFooter .bandContent .footerLogo {
      margin: 0 2px;
    }
    .quote-1{
    height: 12px;
    margin-top: 14px;
    margin-left: -17px;
    /*margin-top: 19px;
    margin-left: -8px;*/
  }
  .quote-2{
    height: 12px;
    margin-top: 14px;
    margin-left: -17px;
    /*margin-top: 19px;
    margin-right: -8px;*/
  }

}
@media screen and (max-width: 330px){
  .quote-1{
    height: 12px;
    margin-top: -28px;
    margin-left: -10px;

  }
  .quote-2{
    height: 12px;
    margin-top: -28px;
    margin-right: -10px;

  }
}
iframe.scale65 {
  width: 154%;
  border: #ddd 8px solid;
  overflow: hidden;
  position: relative;
  -ms-zoom: 0.65;
  -moz-transform: scale(0.65);
  -moz-transform-origin: 0px 0;
  -o-transform: scale(0.65);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(0.65);
  -webkit-transform-origin: 0 0;
}


.snippet {
  border: solid 1px #cccccc;
  margin-bottom: 12px;
  width: 100%;
}

.holder {
  padding-right: 5px;
  padding-bottom: 5px;
}
